.carousel-inner img {
  height: 100vh; /* Adjust this value as needed */
  width:100vw;
  object-fit: cover;
}

.carousel-caption h5 {
  font-size: 2rem; /* Increase font size for title */
}

.carousel-caption p {
  font-size: 1.2rem; /* Increase font size for description */
}
